
*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    font-family:'Inter';
}
body{
     background-color:hsl(0, 0%, 8%);
}
.container{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.items{
    transition: 0.8s;
    width: 25%;
    text-align: center;
    border-radius: 0.8rem;
    background-color:hsl(0, 0%, 12%);
}
.profile-header img{
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 25%;
    border-radius: 50%;

}
.profile-header h2{
    margin-top: 1rem ;
    font-size: 2rem;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}
.profile-header h3 {

    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: hsl(75, 67%, 65%);
}
.profile-header p {
    margin: 1rem 0;
    color: hsl(0, 0%, 92%);
    font-size: 0.9rem;
    margin-top: 1.8rem;
}

.links{
    display: flex;
    flex-direction: column;
    align-items:center;
  
}
.links a{
    color: #fff;
    background-color:hsl(0, 0%, 20%);
    margin:0.5rem 0;
    padding:1rem;
    width:80%;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;

    transition:0.444s;


}
.links a:hover{
    width:85%;
    background-color:hsl(75, 67%, 65%);

}
.links a:last-child{
    margin-bottom: 3rem;
}

/* this is media query */

@media screen and (max-width:1000px)and (min-width:800px){
.items{
        width: 50%;
        border-radius: 0.5rem;
        transition: 0.5s;
        ;
    }
}

@media screen and (max-width:800px) and (min-width:600px){
.items{
        
        width: 60%;
        border-radius: 0.5rem;
        transition: 0.5s;
       ;
}}

@media screen and (max-width:600px) and (min-width:500px){
.items{
        width: 70%;
        border-radius: 0.5rem;
        transition: 0.5s;
        
}}
@media screen and (max-width:500px ){
.items{
        padding: 0;
        width: 80%;
        border-radius: 0.5rem;        
        background-color:hsl(0, 0%, 12%);
        transition: 0.5s;
}}